---
import Card from '@comp/Card.astro';
import BasicLayout from '@/layouts/BasicLayout.astro';
import Button from '@/components/Button.astro';
import Hero from '@/components/Hero.astro';




---

<BasicLayout title="Home Page" description= "Piano Lessons in Kempner, TX">
	  <Hero />
      <section class="lesson-section">
          <div class="lesson-container container">
              <div class="lesson-txt">
                  <h2>Lesson Options</h2>
                  <p>I have two lesson times available: 30 minutes or 45 minutes. Choose the perfect lesson length to match your goals and schedule.</p>
                  <div class="lesson-btn"><Button classes="btn2">Learn More</Button></div>
                </div>
                <div class="lesson-cards">
                    
                        <Card title = "30 Minutes" body = "Ideal for children and adult beginners concentrated skill-building Frequent practice encouragement Great for maintaining consistent progress" />
                    
                        <Card title = "45 Minutes" body = "Additional time to delve into more complex concepts. It offers extra focus on repertoire development and is ideal for students preparing for performances or exams" />
                    
                </div>
                
            </div>
      </section>
    
     <section class="about">
        <div class="about-container container">
            
                <div class="about-image">
                    <img src="../images/about-img.jpeg" alt="Meghan Brodsky at the piano" />
                </div>
           
            <div class="about-text">
                <h2>About Me</h2>
                <p>I'm Meghan Brodsky, a passionate piano instructor with over 20 years of experience. I specialize in piano lessons with a strong focus on music theory, tailoring my approach to each student's unique learning style and goals</p>
                <Button classes="btn2">Learn more about me</Button>
            </div>
          
        </div>
    </section> 

    <section class="recital">
        <div class="recital-container container">
            <div class="recital-txt">
                <h2>Local Recitals</h2>
                <p>At Brodsky Music Studio, we believe in providing our students with opportunities to shine. Our regular student recitals are a cornerstone of our program, offering a platform for students to demonstrate their progress and build confidence in their abilities.</p>
            </div>
            <div class="recital-gallery">
                <div class="recital-img">
                    <img src="../images/recital-img2.png">
                </div>
                <div class="recital-img">
                    <img src="../images/recital-img3.png">
                </div>
                <div class="recital-img">
                    <img src="../images/recital-img4.png">
                </div>
                <div class="recital-img">
                    <img src="../images/recital-img5.png">
                </div>
        </div>
                
            
        </div>
    </section>
    

</BasicLayout>


<style>
   
    
    .about-container {
        gap: 50px;
        border-bottom: solid;
        border-top: solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-radius: 10px;
        padding: 15px 0;
    }
    .about-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .about-image {
        display: flex;
        justify-content: center;
    }
    
   .about-image img {
    
    width: 80%;
    border-radius: 15px;
   }
    /* lesson section */
    
  
    .lesson-txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
        
    }
    .lesson-txt p {
        width: 80%;
    }
    .lesson-cards {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    
    @media only screen and (max-width: 1300px) {
        .lesson-container {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 55px;
    }
    .lesson-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    








    .lesson-txt {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        
    }
    .lesson-btn {
        display: flex;
        justify-content: center;
    }
    }

    .recital-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }
    @media only screen and (max-width: 1200px) {
        .recital-container {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 50px;
        }
    }


    .recital-txt {
        margin: auto 0;
        width: 96%;
    }

    .recital-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }





.recital-img {
    width: 100%; 
   
    
}

.recital-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 13/9; 
}




 



  

</style>