---
const currentYear = new Date().getFullYear();
const navData = [
    {title: "Home", href: "/"},
    {title: "About", href: "/about"},
    {title: "Lessons", href: "/lessons"},
    {title: "Blog", href: "/blog"},
    {title: "Contact", href: "/contact"},
]
---



<footer id="cs-footer-107">
  <div class="cs-container">
      <ul class="cs-ul">
          <li class="cs-li cs-copyright">
            &copy; {currentYear} Meghan's Lessons. All Rights Reserved
          </li>
          <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
            {navData.map((link) => 
              <li class="cs-li">
                  <a href={link.href} class="cs-link">{link.title}</a>
              </li>)}
        </ul>
      </ul>
  </div>
</footer>
                              

<style>
    /*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
  #cs-footer-107 {
    padding: 2.5rem 1rem;
    background: #ead7c4;
  }
  #cs-footer-107 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    /* margin: auto; */
  }
  #cs-footer-107 .cs-ul {
    padding: 0;
    margin: auto;
    display: flex;
    /* make flexbox arrange top to bottom */
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-footer-107 .cs-li {
    list-style: none;
    text-align: center;
    margin: 0;
  }
  #cs-footer-107 .cs-copyright {
    font-size: 0.9375rem;
    line-height: 1.5em;
    margin-top: 1.25rem;
    color: #a0a3bd;
    display: block;
    /* send to first position at the bottom */
    order: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-footer-107 .cs-link {
    /* 15px - 17px */
    font-size: clamp(0.9375rem, 2vw, 1.0625rem);
    line-height: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #cs-footer-107 .cs-link:hover:before {
    width: 100%;
  }
  #cs-footer-107 .cs-link:before {
    /* top right box */
    content: "";
    width: 0%;
    height: 0.1875rem;
    background: var(--bodyTextColorWhite);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 73.75rem) {
  #cs-footer-107 .cs-ul {
    flex-direction: row;
    /* push everything to the left */
    justify-content: flex-start;
    /* 44px - 88px */
    gap: clamp(2.75rem, 7vw, 5.5rem);
  }
  #cs-footer-107 .cs-copyright {
    /* marign auto on the left pushes away from the rest of the flex children */
    margin: 0 0 0 auto;
    /* send to the right most position */
    order: 2;
  }
}
                                
  </style>