---
import Button from "./Button.astro";

---

<section class="hero">

    <div class="hero-container container">
        <div class="hero-txt">
            <h2>One-on-One Piano Lessons</h2>
            <p>Local lessons in Kempner, TX. From beginner to advanced all ages are welcome!</p>
            <Button href="/contact" classes="button">Get in Touch!</Button>
        </div>
        <div class="hero-img">
            <img src="../images/piano4.jpg">
        </div>
    </div>
    
</section>


<style>

    .hero-container {
        margin-top: 50px;
        gap: 20px 10px;
        
    }
    .hero-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
   
    h2 {
        font-size: clamp(2.5rem, 1.8478rem + 3.4783vw, 5rem);
        margin-bottom: 1rem;
        color: var(--headerColor);
    }

    p {
       
        font-weight: 500;
        max-width: 70%;
    }
    

    .hero-img img {
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
        
        
    }

    @media only screen and (max-width: 950px){
        .hero-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        }
        .hero-txt {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    }
   
    




    
</style>